<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title>Sign in</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="6" offset-md="3" class="ion-color-light">
                <ion-card color="medium">
                    <ion-card-content>
                        <ngx-auth-firebaseui [guestEnabled]="false" [providers]="providers.Google" (onSuccess)="onSuccess($event) "></ngx-auth-firebaseui>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
