<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      More
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">More</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col offset-sm="3" size-sm="6">
        <ion-list>
          <ion-item (click)="Logout()" button detail>
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
          <ion-item (click)="about()" button detail>
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="isMaster" offset-sm="3" size-sm="6">
        <ion-list>
          <ion-item (click)="send('Morning')" button detail>
            <ion-icon name="sunny" slot="start"></ion-icon>
            <ion-label> Greet the mightiest</ion-label>
          </ion-item>
          <ion-item (click)="send('Night')" button detail>
            <ion-icon name="moon" slot="start"></ion-icon>
            <ion-label> Greet the mightiest</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
